.advantages {
    background-color: #F4F3F1;
    padding: 30px 90px;
    min-height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages span {
    font-weight: 600;
    font-size: 16px;
}

@media only screen and (max-width: 600px){
    .advantages {
        padding: 30px;
    }
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
    }
    .advantages span {
        font-size: 14px;
    }
}

@media only screen and (max-width: 414px){
    .advantages {
        margin-top: 40px;
    }
    .advantages span {
        font-size: 13px;
    }
}

@media only screen and (max-width: 375px){
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}
