.banner {
    height: 700px;
    width: 100vw;
    background-image: linear-gradient(rgba(64, 59, 74, .3), rgba(231, 233, 187, .3)),
    url("../public/images/10.jpeg");
    background-position: center center;
    background-size: cover;
    display: flex;
    position: relative;
}

.title {
    color: #ffffff;
    width: 55%;
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-size: 50px;
}

.ui.huge.header {
    color: #ffffff;
}

@media only screen and (max-width: 1024px){
    .banner {
        justify-content: center;
        height: 500px;
    }
    .title {
        width: 80%;
        font-size: 35px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 414px){
    .banner {
        justify-content: center;
        height: 400px;
    }
    .title {
        width: 100%;
        font-size: 30px;
        margin-left: 0;
        text-align: center;
    }
}