.intro {
    margin: 40px 0 80px 100px;
    width: 45%;
}

.title {
    color: #84BD00;
}

@media only screen and (max-width: 812px){
    .intro {
        margin: 40px 0 80px 38px;
        width: 35%;
    }
}

@media only screen and (max-width: 600px){
    .intro {
        margin: 30px;
        width: 40%;
        height: max-content;
    }
}

@media only screen and (max-width: 414px){
    .intro {
        margin: 30px;
        width: 80%;
        height: max-content;
    }
}