.materials {
    margin: 0 80px 70px 80px;
}

.title {
    text-transform: uppercase;
    margin-bottom: 35px;
    text-align: center;
}

.display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}

.materialInfo {
    margin-top: 20px;
}

.material {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.materialTitle {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.materialDescription {
    font-size: 14px;
    font-weight: 300;
}

@media only screen and (max-width: 1024px) {
    .display {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 23px;
    }
}

@media only screen and (max-width: 768px) {
    .materials {
        margin: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .display {
        grid-template-columns: repeat(1, 1fr);
    }
    .materialInfo {
        width: 60%;
        margin-left: 15px;
    }
    .material {
        flex-direction: row;
        width: 100%;
    }
}

@media only screen and (max-width: 414px) {
    .material {
        flex-direction: column;
        width: 100%;
    }
    .materialInfo {
        width: 90%;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}
