.nav {
    height: auto;
    padding: 10px;
    background: #fff;
    display: flex;
    align-self: center;
    justify-content: flex-start;
}

.logo {
    margin-left: 100px;
}

@media only screen and (max-width: 768px) {
    .logo {
        margin-left: 50px;
        width: 200px;
    }
}